.aboutPage{
  background-color: rgb(0, 0, 0);
}

.aboutPage-image {
    height: 100vh;
    background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.211) 20%, rgba(0, 0, 0, 0.386) 80%, rgba(0, 0, 0, 0.907)), 
    url('../background-images/aboutPage.jpg'); 
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutPage-text{
    font-size: 17px;
    color:rgb(83, 175, 255);
    width: 650px;
    display:flex;
    flex-direction: column;
    font-family: 'Consolas';
    text-align: justify; 
    line-height: 1.8;
    padding: 10px;
  }
  