@import url('https://fonts.cdnfonts.com/css/neon-led');

html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  background-color: black; 
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  overflow: hidden;
  background-color: black;
}

.intro-image {
  height: 100vh;
  background-image: url('../background-images/intro.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;  
  animation: growAndZoom 4s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neon-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
  background-position: inherit;
  animation: neonFlicker 2s infinite;
  z-index: -1; 
}

.intro-text{
  font-size: 9vw;
  color:rgb(210, 234, 255);
  margin-bottom: 2.5vw;
  display:flex;
  flex-direction: column;
  font-family: 'NEON LED Light', sans-serif;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 106, 255, 0.8),
               0 0 20px rgba(0, 106, 255, 0.8),
               0 0 30px rgba(0, 106, 255, 0.8),
               0 0 40px rgba(0, 106, 255, 0.8),
               0 0 50px rgba(0, 106, 255, 0.8),
               0 0 75px rgba(0, 106, 255, 1);
  position: relative;
  z-index: 1;
}

.intro-text-part1 {
  margin-right: 9vw; 
  margin-bottom: 0.5vw; 
}

.intro-text-part2 {
  margin-left: 9vw; 
  margin-top: 0.5vw; 
}


.intro-letter-blinkJ {
  display: inline-block;
  animation: blinkJS 0.4s ease-in-out 4.5s 1; 
  opacity: 1;
}

.intro-letter-blinkS {
  display: inline-block;
  animation: blinkJS 0.4s ease-in-out 4.65s 1; 
  opacity: 1;
}

.fade-out {
  animation: fadeOutEffect 2s forwards;
}

.fade-in {
  animation: fadeInEffect 1.5s forwards;
}

@keyframes growAndZoom {
  0% {
    transform: scale(0); 
    opacity: 0; 
  }
  100% {
    transform: scale(1); 
    opacity: 1;
  }
}

@keyframes neonFlicker {
  0%, 19%, 21%, 23%, 25%, 54% {
    filter: brightness(1);
    opacity: 1;
  }
  20%, 24%, 55% {
    filter: brightness(1.5);
    opacity: 0.8;
  }
  22% {
    filter: brightness(2.3);
    opacity: 0.6;
  }
  26% {
    filter: brightness(1);
    opacity: 0.8;
  }
}

@keyframes blinkJS {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0.3;
  }
}

@keyframes fadeOutEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    background-color: black;
  }
}

@keyframes fadeInEffect {
  0% {
    opacity: 0;
    background-color: black;
  }
  100% {
    opacity: 1;
  }
}


.suspense-fallback {
  background-color: black;
  height: 100vh;
  animation: fadeInEffect 1.5s forwards;
}

.modal {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  place-self: center;
  justify-content: center;
  align-items: center;
  background-color: #001b2cc6;
  padding: 2vw;
  border-radius: 8px;
  z-index: 1000;
  border: 4px solid rgb(23, 236, 255);
  width: 80vw; 
  max-width: 500px;
  max-height: 600px; 
}

/* .modal-content{
  margin: 3vw;
} */

.map-form{
  /* margin-top: 6vw; */
  display: flex;
  flex-direction: column;
}

.text-contact{
  margin-top: 5vw;
  color: rgb(23, 236, 255);
  display: flex;
  justify-content: center;
  font-size: 2.2vw;
}

.button-icon{
  background-color: transparent;
  border: none;
  color:rgb(23, 236, 255);
  cursor: pointer;
  font-size: 2.2vw;
  margin-top: 2vw; 
}

.button-icon:hover{
  font-size: 2.5vw;
}

.icon-container{
 display: flex;
 justify-content: center;
 justify-content: space-evenly;
}

.link {
  margin: 1vw 0;
  text-decoration: none;
  color: rgb(23, 236, 255);
  font-size: 2.2vw;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.link:hover{
  font-size: 2.6vw;
}

.link .location-dot {
  background-color: transparent;
  border: none;
  color:rgb(23, 236, 255);
  cursor: pointer;
  font-size: 2.2vw;
  margin-left: 2vw; 
}

.container-cv{
  display: flex;
  justify-content: center;
}

.button-download{
  background-color: transparent;
  border: none;
  color:rgb(23, 236, 255);
  cursor: pointer;
  text-decoration: underline;
  margin-top: 2vw; 
  font-size: 1.7vw;
}

.button-download:hover{
  font-size: 2vw; 
}

.close{
  position: absolute;
  display: flex;
  align-items: center;
  top: 1vw; 
  right: 1vw;
  cursor: pointer;
}

.close-button{
  color: rgb(23, 236, 255);
  margin: 1vw; 
  font-size: 2.6vw; 
}

@media (max-width: 768px) {
  .intro-text {
    font-size: 8vw;
  }

  .modal {
    width: 45vw;
    padding: 5vw;
  }

  .button-icon,
  .link {
    font-size: 3.6vw;
  }

  .text-contact {
    font-size: 3.5vw;
  }

  .button-download{
    font-size: 2.5vw;
  }
}

@media (max-width: 480px) {
  .intro-text {
    font-size: 10vw;
  }

  .modal {
    width: 60vw;
    padding: 6vw;
  }

  .close-button{
    font-size: 4.5vw;
  }
  .button-icon,
  .link,
  .text-contact {
    font-size: 4vw;
  }

  .button-download{
    font-size:3vw;
  }
}
@media only screen and (orientation: landscape) {
  .landscape-content {
    display: block;
  }

  .portrait-message {
    display: none;
  }
}
@media only screen and (orientation: portrait) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  .landscape-content {
    display: none;
  }

  .portrait-message {
    display: block;
    color: white;
    text-align: center;
    font-size: 5vw;
    padding: 10vw;
  }
}