.techPage{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    overflow: hidden; 
  }
  
  .techPage-image {
    height: 100%;
    width: 100%;
    background-image: url('../background-images/aboutPage.jpg');  
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;  
    display: grid;
    justify-items: center;
    }

    .container-tech{
      max-width: 58vw; 
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      place-self: center;
      justify-content: flex-start;
    }

     .icons-tech{
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: center; 
        gap: 4vw; 
        margin-top: 2vw;
    }
    
    .icon {
        width: 10vw;
        height: 10vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease; 
        cursor: pointer; 
    }
    
    .icon:hover {
        transform: scale(1.2);
    }
    
    .js {
        background-image: url('../background-images/icons-tools/colored_neon_js_icon.png');
    }
    
    .react {
        background-image: url('../background-images/icons-tools/pixelcut-export.png');
    }
    
    .git {
        background-image: url('../background-images/icons-tools/Github_icon-icons.com_66788.png');
    }
    
    .db {
        background-image: url('../background-images/icons-tools/Db-Icon-PNG-Photo.png');
    }
    
    .node {
        background-image: url('../background-images/icons-tools/node_js_logo_white_to_blue.png');
        height: 12vw; 
        width: 12vw;
    }
    
    .css {
        background-image: url('../background-images/icons-tools/html-css-js-icons-11563328364gmstz4ubs9.png');
    }

    .button-next-tech{
      background-color: transparent;
      border: none;
      font-size: 1.4vw; 
      color:rgb(23, 236, 255);
      font-family: 'Consolas';
      text-decoration: underline;
      cursor: pointer;
      align-self: flex-end;
      }
    
      .button-next-tech:hover {
        font-size: 1.6vw;
      }

      .map{
        position: absolute; 
        top: 2vh;
        right: 5vw;
        background-color: transparent;
        border: none;
        color:rgb(23, 236, 255);
        cursor: pointer;
        font-size: 2.5vw;
      }
      .map:hover{
        font-size: 3vw;
      }

      .fade-out {
        animation: fadeOutEffect 1.5s forwards;
      }
      
      .fade-in {
        animation: fadeInEffect 1.5s forwards;
      }
      
      @keyframes fadeOutEffect {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
          background-color: black;
        }
      }
      
      @keyframes fadeInEffect {
        from {
          opacity: 0;
          background-color: black;
        }
        to {
          opacity: 1;
        }
      }

      @media (max-width: 480px) {
        .techPage-image{
          width: 480px;
          background-image: 
          url('../background-images/aboutPage.jpg'); 
          background-repeat: no-repeat; 
          display: flex;
          justify-content: center;
          }
          .container-tech{
            max-width: 80vw; 
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            place-self: center;
            justify-content: flex-start;
          }
          .icons-tech{
            display: flex;
            flex-wrap: wrap; 
            justify-content: center; 
            align-items: center; 
            gap: 7vw; 
            margin-top: 1.5vw;
          }
          .icon {
            width: 15vw;
            height: 15vw;
        }
        .button-next-tech{
          margin-top:5vw;
          font-size: 3vw; 
        }
        .button-next-tech:hover{
          font-size: 3.5vw;
        }
      }